@import "../vendors/bootstrap/functions";
@import "../vendors/bootstrap/variables";
@import "../vendors/bootstrap/variables-dark";
@import "../vendors/bootstrap/maps";
@import "../vendors/bootstrap/mixins";
@import "../vendors/bootstrap/utilities";
@import "../abstracts/colors";

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge(
    $utilities,
    (
        "color":
            map-merge(
                map-get($utilities, "color"),
                (
                    values: map-merge(map-get(map-get($utilities, "color"), "values"), ($all-colors))
                )
            )
    )
);

.btn-my-primary {
    @include button-variant($clr-primary, $clr-primary, $clr-white);
    --bs-btn-font-weight: 300;
    --bs-btn-border-radius: 0;
}

.btn-my-secondary {
    @include button-variant($clr-secondary, $clr-secondary, $clr-black);
    --bs-btn-font-weight: 500;
    --bs-btn-border-radius: 0;
}

.btn-gradient-1 {
    @include gradient-x(#d017ee, #3e20f8e5, 25%, 100%);
    @include button-size(0.5rem, 1rem, 1rem, 0);
    --bs-btn-color: #{$clr-white};
}

.btn-gradient-2 {
    @include gradient-x(#7c97f5, #6181f3);
    @include button-size(0.25rem, 0.875rem, 1rem, 0);
    --bs-btn-color: #{$clr-white};
}

@import "../vendors/bootstrap/utilities/api";
