@import "../abstracts/colors";
@import "../vendors/bootstrap/functions";
@import "../vendors/bootstrap/variables";
@import "../vendors/bootstrap/mixins";
footer {
    a {
        text-decoration: none;
        color: $clr-a-red;
        &:hover,
        &:focus,
        &:active {
            color: rgba($clr-a-red, 0.7);
        }
    }

    .row:nth-child(2) {
        background-color: $clr-gray;
    }
}

@include media-breakpoint-down(md) {
    footer {
        .col {
            &::after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 75%;
                border-bottom: 1px solid $clr-black;
                padding-top: 1rem;
            }
        }
    }
}
