@import "../abstracts/colors";
.bg-dark {
    --bs-dark-rgb: 0, 0, 0;
}
header {
    .navbar-nav {
        .nav-link {
            color: rgba($color: $clr-white, $alpha: 0.6);
            &.active {
                color: $clr-white;
            }
            &:hover {
                color: $clr-white;
            }
        }

        i {
            color: rgba($color: $clr-white, $alpha: 0.6);
            &::before {
                font-size: 1.75em;
            }
            &:hover {
                color: $clr-white;
            }
        }
    }
}
